.nav {
    position: fixed;
    padding: 0.7rem;

    a {
        @include t_a();
        font-size: 2rem;
    }

    &--izi {
        top: 0;
        left: 0;
    }

    &--projects {
        top: 0;
        right: 0;
    }

    &--contact {
        bottom: 0;
        left: 0;
    }
}