// Imports
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

//  Colours
$white: #ffffff;
$orange: #ffa500;
$orange--dark: #d18700;
$grey--dark: #282828;
$black--light: #161616;
$black: #000000;

// Fonts
$f-primary: 'Roboto', sans-serif;

// Font Weights
$f-light: 300;
$f-regular: 400;
$f-medium: 500;
$f-semibold: 600;
$f-bold: 700;
$f-heavy: 800;

// Animation Transition
$a-short: .3s;
$a-medium: .6s;
$a-long: 1s;

// Header heights
$hh-mobile: 60px;
$hh-tablet: 60px;
$hh-desktop: 75px;
$hh-ultrawide: 125px;

// Footer heights
$fh-mobile: auto;
$fh-tablet: auto;
$fh-desktop: 75px;
$fh-ultrawide: 125px;

// Section padding
$p-mobile: 15px 0;
$p-desktop: 30px 0;

// Z-indicies
$z-front: 1;
$z-header: 10;
$z-footer: 10;
$z-menu: 100;