// Imports
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

//  Colours
$white: #ffffff;
$black: #000000;

// Fonts
$f-primary: 'Roboto', sans-serif;

// Font Weights
$f-light: 300;
$f-regular: 400;
$f-medium: 500;
$f-semibold: 600;
$f-bold: 700;
$f-heavy: 800;

// Animation Transition
$a-short: .3s;
$a-medium: .6s;
$a-long: 1s;

// Border Radii


// Section padding
$padding-mobile: 15px 0;
$padding-desktop: 30px 0;

// Z-indicies