// Imports
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

//  Colours
$white: #ffffff;
$black: #000000;

// Fonts
$zoepix-f-primary: 'Roboto', sans-serif;

// Font Weights
$f-light: 300;
$f-regular: 400;
$f-medium: 500;
$f-semibold: 600;
$f-bold: 700;
$f-heavy: 800;

// Content Widths
$cw-ultrawide: 1919px;
$cw-desktop: 1919px;
$cw-tablet: 1023px;
$cw-mobile: 599px;

// Gutters
$g-ultrawide: 7.5vw;
$g-desktop: 7.5vw;
$g-tablet: 7.5vw;
$g-mobile: 35px;

// Animation Transition
$a-short: .3s;
$a-medium: .6s;
$a-long: 1s;

// Border Radii


// Section padding


// Z-indicies