.gallery-secondary {
    &__container {
        @include containerFull();

        border: black solid 2px;

        height: calc(100vh - #{$headerheight} - #{$footerheight});
        position: relative;
    }

    &__slide-caption {
        @include t_h4();
    }

    &__slide-description {
        @include t_h5();
        font-style: italic;
    }
}