// Global
@import "mixins";
@import "config";

// Components
@import "components";
@import "blocks";

html {
    font-size: 16px;
    font-family: $f-primary;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

main {
    background: $white--bg;
    height: 100vh;

    h1 {
        @include t_h1();
    }

    h2 {
        @include t_h2();
    }

    h3 {
        @include t_h3();
    }

    h4 {
        @include t_h4();
    }

    h5 {
        @include t_h5();
    }

    h6 {
        @include t_h6();
    }

    p {
        @include t_p();
    }

    a {
        @include t_a();
    }

    ol {
        margin: 0;

        li {
            @include t_li();
        }
    }

    ul {
        margin: 0;

        li {
            @include t_li();
        }
    }
}

section {
    padding: $p-mobile;

    @include r(desktop, ultrawide) {
        padding: $p-desktop;
    }
}

.remove-section-padding {
    padding: 0;
}