// Imports
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400&display=swap');

//  Colours
$white: #ffffff;
$white--bg: #e1e1e1; // Main background colour
$blue--text: #2a00ff; // Colour for links
$black: #000000;

// Fonts
$f-primary: 'Lato', sans-serif;

// Font Weights
$f-skinny: 300;
$f-regular: 400;
$f-medium: 500;
$f-semibold: 600;
$f-bold: 700;

// Animation Transition
$a-short: .3s;
$a-medium: .6s;
$a-long: 1s;

// Animations
$a-scale: scale(1.1);

// Section padding
$p-mobile: 15px 0;
$p-desktop: 30px 0;

// Z-indicies
$z-front: 1;
$z-header: 10;
$z-footer: 10;
$z-menu: 100;