// Global
@import "mixins";
@import "config";

// Components
@import "components";
@import "blocks";

html {
    font-size: 16px;
    font-family: $f-primary;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

main {
    background: $white;
    margin-top: $hh-mobile;
    min-height: calc(100vh - #{$hh-mobile} - #{$hh-mobile});

    @include r(tablet) {
        margin-top: $hh-tablet;
        min-height: calc(100vh - #{$hh-tablet} - #{$hh-tablet});
    }

    @include r(desktop) {
        margin-top: $hh-desktop;
        min-height: calc(100vh - #{$hh-desktop} - #{$fh-desktop});
    }

    @include r(ultrawide) {
        margin-top: $hh-ultrawide;
        min-height: calc(100vh - #{$hh-ultrawide} - #{$fh-ultrawide});
    }

    h1 {
        @include t_h1();
    }

    h2 {
        @include t_h2();
    }

    h3 {
        @include t_h3();
    }

    h4 {
        @include t_h4();
    }

    h5 {
        @include t_h5();
    }

    h6 {
        @include t_h6();
    }

    p {
        @include t_p();
    }

    a {
        @include t_a();
    }

    ol {
        margin: 0;

        li {
            @include t_li();
        }
    }

    ul {
        margin: 0;

        li {
            @include t_li();
        }
    }
}

section {
    padding: $p-mobile;
  
    @include r(desktop, ultrawide) {
        padding: $p-desktop;
    }
}

.remove-section-padding {
    padding: 0;
}