// Global
@import "mixins";
@import "config";

// Components
@import "blocks";
@import "components";

body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    font-family: $f-primary;
}

section {
    padding: $padding-desktop;
  
    @include r(mobile) {
        padding: $padding-mobile;
    }
}