// Global
@import "mixins";
@import "config";

// Components
@import "components";
@import "blocks";

body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    font-family: $f-primary;
}

main {
    h1 {
        @include t_h1();
    }

    h2 {
        @include t_h2();
    }

    h3 {
        @include t_h3();
    }

    h4 {
        @include t_h4();
    }

    h5 {
        @include t_h5();
    }

    h6 {
        @include t_h6();
    }

    p {
        @include t_p();
    }

    a {
        @include t_a();
    }

    ol li {
        @include t_li();
    }

    ul li {
        @include t_li();
    }
}

section {
    padding: $padding-desktop;
  
    @include r(mobile) {
        padding: $padding-mobile;
    }
}

.remove-section-padding {
    padding: 0;
  
    @include r(mobile) {
        padding: 0;
    }
}